[Unit]
Description=Underground
After=network.service

[Service]
PIDFile=/tmp/pidUnderground
WorkingDirectory=/opt/dataServer.git
User=user
Group=user

ExecStart=/opt/dataServer.git/service.py
Restart=always

[Install]
WantedBy=multi-user.target 
